$banner-height = 500px;

bannerFn(num){
    background: url(../../images/banner num.jpg) no-repeat center
}

.banner{
    height $banner-height
    width 100%   

    >div{
        height 100%
        
        .banner-bg{
            height 100%
        }

        .banner1{
            bannerFn(1) 
        }

        .banner2{
            bannerFn(2) 
        }

        .banner3{
            bannerFn(3) 
        }
    } 
}